<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">crtsh Certificate Search</h4> 
        </div>
        <div class="content">
            <p class="category">Top {{ results['cert_count'] }} Results</p>
            <table class="table table-bordered" style="table-layout: fixed; width: 100%"></table>
                <thead>
                    <tr>
                        <th scope="col"> ID </th>
                        <th scope="col"> Name </th>
                        <th scope="col"> Issuer </th>
                        <th scope="col"> Timestamp </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cert in results['top_certs'] %}
                    <tr>
                        <td><a href="https://crt.sh/?id={{cert['id']}}">{{ cert['id'] }}</a></td>
                        <td>{{ cert['name_value'] }}</td>
                        <td>{{ cert['issuer_name'] }}</td>
                        <td>{{ cert['entry_timestamp'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="content row"></div>
                {% if 'support_files' in analysis %}
                    <p class="category">Support Files</p>
                    {% if name in analysis.support_files %}
                        {% for support_file in analysis.support_files[name] %}
                            <a href="{{url_for('AnalysesView:download_support_file', id=analysis._id, module=name, filename=support_file[1])}}">{{ support_file[0] }}</a>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
